.containercardlogin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 50vw;
}

.bordacardlogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 50vw;
}

.containerlogin form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.emaillogin, .senhalogin{
    width: 20vw;
    height: 3vh;
    border: 2px solid #8b14f9;
    border-radius: 9999px;
    background-color: #121212;
    outline: none;
    color: white;
}

